/* General Body and Background Styles */
body {
    background-color: #000;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#particles-js {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Header Styles */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 90vh;
}

header #top h1, header #top h2 {
    color: #000;
}

#logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
    z-index: 100;
    transition: opacity 0.5s ease;
}
header #top-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Original Vertical Menu */
.vertical-menu, .vertical-menu-contact {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    text-align: right;
    padding: 10px;
}

.vertical-menu a, .vertical-menu-contact a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
}

.vertical-menu a {
    color: #000; /* Original text color */
}

.vertical-menu a:hover, .vertical-menu a.scrolled-link {
    background-color: gray;
    color: white;
}

/* New Vertical Menu Contact */
.vertical-menu-contact a {
    color: white; /* Inverse text color */
    background-color: #000; /* Inverse background color */
}

.vertical-menu-contact a:hover {
    background-color: white; /* Hover background color */
    color: #000; /* Hover text color */
}

/* Typography and Text Styles */
h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

.pro {
    text-decoration: underline;
}

h2, p {
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px; /* h2 */
    font-size: 20px; /* p */
}

/* Form and Input Styles */
#contact-form, .contact-form-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form input, #contact-form textarea, #contact-form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/* Scroll to Top Button */
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
}

#scrollToTopButton:hover {
    background-color: transparent;
}

/* Responsive Adjustments */
@media screen and (max-width: 1300px) {
    #particles-js {
        display: none; /* Disable particles background on small devices */
    }

    body {
        font-size: 16px; /* Adjust body font size for better readability on small screens */
    }

    img {
        max-width: 100%;
        height: auto; /* Make images responsive */
    }

    .vertical-menu a, .vertical-menu-contact a, button {
        min-width: 48px; /* Increase tap targets */
        min-height: 48px; /* Increase tap targets */
        padding: 12px; /* Increase tap targets */
        margin: 5px; /* Ensure adequate spacing around tap targets */
    }

    /* Adjusting the menu for mobile-friendly layout */
    .vertical-menu, .vertical-menu-contact {
        position: static; /* Make the menu static to flow with the document */
        width: 100%; /* Full width */
        text-align: center; /* Center links */
        top: auto; /* Remove fixed positioning */
        right: auto; /* Remove fixed positioning */
        transform: none; /* Remove transformation */
    }

    /* Invert colors for mobile layout of .vertical-menu-contact */
    .vertical-menu-contact a {
        background-color: transparent; /* Reset background */
        color: white; /* Keep text color white for contrast */
    }

    .vertical-menu-contact a:hover {
        background-color: #000; /* Hover background color */
        color: white; /* Hover text color */
    }
}
