html {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Handlee', cursive;
	font-size: 13pt;
	padding: 10px;
	margin: 0;
  background-color: #50173a;
}
h1 {
	font-size: 15pt;
	color: #431166;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}
h1 span {
	border: 4px dashed #431166;
	padding: 10px;
}
p {
	padding: 0;
	margin: 0;
}
.section {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  background-color: #fab6ff;
  border-radius: 15px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fab6ff;
}

#menu-outer {
	height: 84px;
}

ul.topnav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 20px 22px;
}

ul.topnav li a:hover:not(.active) {background-color: #94739c;}

ul.topnav li a.active {background-color: #431166;}

@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
  ul.topnav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 14px 16px;
    display: block;
  }
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 20px auto;
}

ul#horizontal-list {
	max-width: 600px;
	list-style: none;
	padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
	}
	ul#horizontal-list li {
		display: inline;
	}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

table {
	width: 100%;
}
table, th, td {
	border: 2px solid #cecece;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
.selected {
	background-color: #fdd93b;
	font-weight: bold;
	color: white;
}
li {
	margin-bottom: 15px;
	font-weight: bold;
}

iframe, audio {
	display: block;
	margin: 0 auto;
	border: 3px solid #3fb6b2;
}
hr {
	border: 0;
	height: 1px;
	background: #fdd93b;
}
form {
	text-align: center;
	margin-top: 0;
}
.submit {
	background-color: #431166;
	padding: 12px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}
.submit:hover {
	background-color: #94739c;
}
textarea {
	height: 100px;
}
input, textarea {
	margin-bottom: 10px;
	font-size: 11pt;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
	outline: none;
}
.face {
	transform: scale(0.4);
	margin: 0 auto;
	display: block;
	margin-top: -35px;
	margin-bottom: -25px;
}
#contacts img {
	height: 50px;
	width: 50px;
	margin-left: 7px;
	margin-right: 7px;
}
#contacts a {
	text-decoration: none;
}
#contacts img:hover {
	opacity: 0.8;
}
#contacts {
	text-align: center;
}
.copyright {
	font-size: 8pt;
	text-align: right;
	padding-bottom: 10px;
	color: grey;
}
